Repository Desafio-TheBridge-Grupo3/Desafio-theBridge-sep23-grupo3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-client.yml, azure-pipelines-secure-alpine.yml, azure-pipelines-server.yml

azure-pipelines-client.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-secure-alpine.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-server.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

.pem + dockerfile
  server/Dockerfile_server
  server/config/DigiCertGlobalRootCA.crt.pem
Due: azure-pipelines-server.yml

dockerfile
  server/Dockerfile_server
Due: azure-pipelines-server.yml

nueva imagen base
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

nuevo dockerfile server
  server/Dockerfile_server
Due: azure-pipelines-server.yml

otra mas
  server/Dockerfile_server
Due: azure-pipelines-server.yml

otra vez
  server/DigiCertGlobalRootCA.crt.pem
  server/Dockerfile_server
Due: azure-pipelines-server.yml

?????
  server/Dockerfile_server
Due: azure-pipelines-server.yml

aaaaaaaaaaaaaa
  server/config/sqlConnection.js
Due: azure-pipelines-server.yml

env en dockerfile
  server/Dockerfile_server
Due: azure-pipelines-server.yml

FUNCIONAAAA
  server/DigiCertGlobalRootCA.crt.pem
  server/Dockerfile
Due: azure-pipelines-server.yml

eliminar .env.example
  server/.env.example
Due: azure-pipelines-server.yml

dockerfile correcto
  server/Dockerfile
  server/Dockerfile_server
Due: azure-pipelines-server.yml

docker con node:alpine3.18
  server/Dockerfile_server
Due: azure-pipelines-server.yml

nuestra imagen
  server/Dockerfile_server
Due: azure-pipelines-server.yml

SSL true
  server/config/sqlConnection.js
Due: azure-pipelines-server.yml

dockerfile client
  client/Dockerfile_client
Due: azure-pipelines-client.yml

add CORS protocol
  WS-candela/__pycache__/ws_app.cpython-311.pyc
  WS-candela/app.py
Due: none

requirements
  WS-candela/requirements.txt
Due: none

error in response.headers.add
  WS-candela/app.py
  WS-candela/requirements.txt
Due: none

automatización despliegue WS-candela
  azure-pipelines-candela.yml
Due: none

correccion pipeline
  azure-pipelines-candela.yml
Due: none

nueva conexion automatizacion
  azure-pipelines-candela.yml
Due: none

Update azure-pipelines-candela.yml for Azure Pipelines
  azure-pipelines-candela.yml
Due: none

Automatizar despliegue client y server
  azure-pipelines-client.yml
  azure-pipelines-server.yml
Due: none

act. submodulos
  cups y variables.txt
Due: none

actualizamos server
  server/README.md
  server/controllers/ciaClient.controllers.js
  server/controllers/ciaConSeveral.controllers.js
  server/controllers/ciaPowSeveral.controllers.js
  server/controllers/proposal.controllers.js
  server/controllers/total.controllers.js
  server/controllers/webControllers/auth.controllers.js
  server/models/address.model.js
  server/models/advisor.model.js
  server/models/agreement.model.js
  server/models/associations.js
  server/models/ciaClient.model.js
  server/models/ciaConSeveral.model.js
  server/models/ciaPowSeveral.model.js
  server/models/clientERP.model.js
  server/models/consumption.model.js
  server/models/price.model.js
  server/models/proposal.model.js
  server/models/total.model.js
  server/models/type.model.js
  server/server.js
Due: azure-pipelines-server.yml

add documentation of load-data
  WS-load-data/load_data.py
Due: none

error
  WS-invoice/app.py
  WS-several/app.py
Due: none

configure CORS v0.1
  WS-candela/app.py
  WS-invoice/app.py
  WS-several/app.py
Due: none

Path conditions:
  azure-pipelines-client.yml: any of: client
  azure-pipelines-secure-alpine.yml: any of: Docker-base
  azure-pipelines-server.yml: any of: server
