Repository Desafio-TheBridge-Grupo3/Desafio-theBridge-sep23-grupo3: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-candela.yml, azure-pipelines-client.yml, azure-pipelines-secure-alpine.yml, azure-pipelines-server.yml

azure-pipelines-candela.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-client.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-secure-alpine.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

azure-pipelines-server.yml:
  stages:
  - stage: Build
    displayName: Build and push stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: Docker@2
        displayName: Build and push an image to container registry
        inputs:
          command: buildAndPush
  ...

IAC base de datos
  IaC-terraform/.terraform.lock.hcl
  IaC-terraform/Modules/postgresql-flexible-server/main-pg-flex.tf
  IaC-terraform/Modules/postgresql-flexible-server/output-pg-flex.tf
  IaC-terraform/Modules/postgresql-flexible-server/variables-pg-flex.tf
  IaC-terraform/main.tf
  IaC-terraform/variables.tf
Due: none

git ignore
  .gitignore
Due: none

add cors for specify endpoint
  WS-candela/__pycache__/ws_app.cpython-311.pyc
  WS-candela/app.py
  WS-candela/ws_app.py
Due: azure-pipelines-candela.yml

automatización Invoice
  WS-candela/Dockerfile
  WS-invoice/Dockerfile
  azure-pipelines-invoice.yml
Due: azure-pipelines-candela.yml

add requirement.txt in folders endpoints
  WS-invoice/app.py
  WS-invoice/functions.py
  WS-invoice/requirements.txt
  WS-load-data/requirements.txt
  WS-several/requirements.txt
Due: none

add requirements.txt
  WS-load-data/requirements.txt
Due: none

nuevo dockerfile base securizada
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

post install.sh nuevo
  Docker-base/post-install.sh
Due: azure-pipelines-secure-alpine.yml

dockerfile corregido
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

add new functions in endpoint /invoice
  WS-invoice/app.py
  WS-invoice/functions.py
Due: none

Revert "add new functions in endpoint /invoice"
  WS-invoice/app.py
  WS-invoice/functions.py
Due: none

Dockerfile final imagen secure
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

dockerfile seguro final
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

nuevas URL para IaC
  Docker-base/Dockerfile
  azure-pipelines-candela.yml
  azure-pipelines-invoice.yml
Due: azure-pipelines-secure-alpine.yml

dockerfile base
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

dockerfile recuperado
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

Terraforms
  IaC-terraform/Modules/Container-apps-environment/main-cont-app-env.tf
  IaC-terraform/Modules/Container-apps-environment/output-cont-app-env.tf
  IaC-terraform/Modules/Container-apps-environment/variables-cont-app-env.tf
  IaC-terraform/Modules/Container-apps/main-cont-app.tf
  IaC-terraform/Modules/Container-apps/output-cont-app.tf
  IaC-terraform/Modules/Container-apps/variables-cont-app.tf
  IaC-terraform/Modules/postgresql-flexible-server/main-pg-flex.tf
  IaC-terraform/Modules/postgresql-flexible-server/output-pg-flex.tf
  IaC-terraform/locals.tf
  IaC-terraform/main.tf
  IaC-terraform/variables.tf
Due: none

Dockerfile
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

change GET endpoint to POST
  WS-candela/app.py
  WS-invoice/functions.py
Due: azure-pipelines-candela.yml

change port endpoint invoice
  WS-invoice/app.py
Due: none

change method of endpoint to POST and update requirement.txt
  WS-invoice/app.py
  WS-invoice/requirements.txt
Due: none

delete extra info
  WS-invoice/functions.py
  WS-invoice/requirements.txt
Due: none

DOCKERFILE SECURIZADO
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

nuevo invoice pipeline
  WS-invoice/Dockerfile
  azure-pipelines-invoice.yml
Due: none

add cors endpoint
  WS-candela/app.py
  WS-invoice/app.py
  WS-several/app.py
Due: azure-pipelines-candela.yml

invoice dockerfile
  WS-invoice/Dockerfile
Due: none

test dockerfile
  WS-invoice/Dockerfile
Due: none

Dockerfile arreglado
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

dockerfile invoice
  WS-invoice/Dockerfile
Due: none

dockerfile
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

Dockerfile FINAL
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

Dockerfile final
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

dockerfile FINALLLLLLLLLL
  Docker-base/Dockerfile
Due: azure-pipelines-secure-alpine.yml

Path conditions:
  azure-pipelines-candela.yml: any of: WS-candela
  azure-pipelines-client.yml: any of: client
  azure-pipelines-secure-alpine.yml: any of: Docker-base
  azure-pipelines-server.yml: any of: server
